*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Chakra Petch', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden; 
    height:100%;
    background-color: #030303;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: rgb(255, 165, 91);
}
.row{
    display:flex;
    width:100%;
    flex-direction: row;
}
.halfCol{
    width: 50%
}

.formClass{
    display: flex;
    flex-shrink: unset;
    font-size:125%;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    min-width: 500px;
}
.button{
    display: block;
    border-style: solid;
    border-color: #99a;
    color: #fff;
    border-width: 2px;
    text-align: center;
    border-radius: 15px;
    background-color:#334;
    cursor: pointer;
    padding: 1% 1.5% 1% 1.5%;
    text-decoration: none;
    width:50%;
    font-size: 100%;
}

.top{
    width:100%;
    display:flex;
    flex-direction: row;
    align-content: flex-start;
}
.thumbnail{
    border-radius: 15px; 
    border-width: 2px; 
    border-style: solid; 
    margin-right: 2%;
    margin-top: 1%;
    z-index: 0;
}
.vertical{
    max-width: 7.5vw;
    max-height: 30vh;
}
.horizontal{
    max-width: 15vw;
    height: auto;
}
.navigationBar{
    width:80%;
    display:flex;
    flex-direction: row;
    height: 6vh;
    padding-top: 0.1%;
    font-size: 1.8vh;
    text-shadow: 2px 2px #000;
    background-image: linear-gradient(#334, #445);  
    color: #ccc;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}

.navigationBar a{
    color: #fff;
    cursor: pointer;
    opacity: 0.9;
    text-decoration: none;
    margin-right: 5.5%;
    margin-top:0.1%;
    margin-left: 2%;
    font-size: 150%;
}

.navigationBarIcon
{
    width: 5vh;
    height: 4.5vh;
    padding-top: 5px;
}

#nRight{
    justify-content: space-evenly;
    width:20%;
    background-color: aqua;
}

#mainContent{
    display:flex;
    flex-direction: row;
    width:300%;
    color:#fff;
}

#page{
    display:flex;
    flex-direction: column;
    width:100%;
}

.start{
    transform: translate(0%);
    transition: transform 1s;
}
.middle{
    transform: translate(-33.33%);
    transition: transform 1s;
}
.end{
    transform: translate(-66.66%);
    transition: transform 1s;
}

.home{
    display:flex;
    margin-top: 2%;
    width:100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.technologyContainer{
    display:flex;
    margin-top:1%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}
.homeColOne{
    width:35%;
    margin-right: 5%;
}
.homeColTwo{
    width:50%;
    justify-content: flex-start;
}
#omakuva{
  float:left;
  margin-right: 2.5%;
  margin-bottom: 1.5%;
  display:flex;
  width:40%;
  height:40%;
}

.homeText{
    text-align: left;
    font-size: 125%;
}
.title{
    font-size: 225%;
    color: #99c;
    margin-bottom: 2%;
}
.homeButton{
    display:inline-block;
    color:#fff;
    width:70%;
    margin-top: 2.5%;
}

.technologyTitle{
    font-size: 175%;
    color: rgb(255, 165, 91);
    margin-bottom: 0.3%
}
#colOne{
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#image{
    display: flex; 
    flex: 1 1 auto;
    width:80%;
    height:80%;
}
#colTwo{
    display:flex;
    flex-direction: column;
    flex: 1 1 auto;
    width:80%;
}
#contactPage{
    display:flex;
    flex-direction: column;
    width:70%;
    margin-top: 2%;
    margin-left: 5%;
}
.inputField{
    width:100%;
    display: flex;
    background-color: #222;
    min-height: 3.5vh;
    color:#fff;
    font-size: 90%;
    border-radius: 6px;
    border: solid 2px #444;
    margin-bottom: 0.25%;
}
.inputField:focus{
    outline: none;
    border-color: #889;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 50px #222 inset;
    -webkit-text-fill-color: #fff;
    -webkit-text-size-adjust: none;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #222 inset;/*your box-shadow*/
    -webkit-text-fill-color: #fff;
    -webkit-text-size-adjust: none;
} 

.error{
    width:57%;
    padding-top: 0.15%; 
    font-size: 85%;
    color: tomato;
}
.formColOne{
    display:flex;
    width:10%;
    min-width: 150px;
}
#formSubmit, #formReset{
    color:#fff;
    margin-top: 10px;
    border-width:2px;
    border-radius: 15px;
    border-color:#99a;
    margin-right: 35px;
    min-width: 130px;
    padding: 1.5% 2.5% 1.5% 2.5%;
    background-color: #334;
}

#formSubmit:focus, #formReset:focus{
    outline: none;
}

#sendData{
    position: absolute;
    top:17.5%;
    left:78%;
    padding: 20px 70px 20px 70px;
    background-color: #333344dd;
    font-size: 22px;
    border-width:2px;
    border-style: solid;
    border-radius: 15px;
    border-color:#99a;
    animation: blinker 1s infinite linear;

}
#projects{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projectsTitleOne{
    width:40%; 
    margin-bottom: 0%; 
    text-align: left;
}
.projectsTitleTwo
{
    width:60%; 
    text-align: right; 
    font-size: calc(11px + 0.5vw);
}
#projectsOne{
    display:flex;
    width:50%;
    padding-left: 1.45%;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 5%;
}
#projectsTwo{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:35%;
}
.projectHolder{
    width: 92.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    display: flex;
    border: 2px solid;
    border-color: #556;
    border-radius: 15px;
    flex-direction: row;
    justify-content: flex-start;
}
.zoomedImage{
    display:inline-block;
    position: absolute;
    max-width: 33vw;
    pointer-events: none;
    max-height: 65vh;
    border: 2px solid #556;
    border-radius: 15px;
    padding: 0.25%;
    background-color: rgba(0, 0, 0, 0.889);
    right:150vw;
    height: auto;
}
.descText{
    font-size: 85%;
    margin-left: 0.1%;
    margin-top: -0.1%;
}
.projectButton{
   margin-top: 3%;
}
.projectText{
    margin-top: 2.5%;
}
.projRow{
    width:90%; 
    flex-direction: row; 
    align-items: flex-end; 
    margin-bottom: 0.5%; 
    margin-left: 5%; 
    margin-top: 2%;
}
.projDark{
    background-color: #111;
}
.projLight{
    background-color: #222;
}

a:hover,  #nRight a:hover{
    animation: blinker 1s infinite;
    cursor: pointer;
    animation-timing-function: linear;
}
a:active{
    animation: none;
    transform: translate(2px, 2px);
}
.button:hover{
    animation: buttonBlinker 1s infinite linear;
}

@keyframes blinker{
  
    50% {
        color:#aaa;
        opacity: 0.7;
        transform: translateY(-1px);
    }
 
}
@keyframes buttonBlinker{
    50%{
        border-color: #ccd;
        background-color: #223;
        font-size:102%;
    }
}
@media only screen and (max-width:868px)
{
    a:hover, #formSubmit:hover, #formReset:hover, #nRight a:hover, .button:hover{
       animation: none;
    }
}
@media only screen and (max-width: 868px) and (orientation: portrait)
{
    body{
        height: 100%;
        font-size: 75%;
    }
    .row{
        flex-direction: column;
    }
    .projRow{
        flex-direction: column;
        align-items: flex-start;
    }
    .halfCol{
        width:100%;
    }
    .navigationBar{
        width:60%;
        justify-content: flex-start;
        font-size:3.4vw;
    }
    .projectText{
        margin-top: 2.5%;
        font-size:100%;
    }
    #nRight{
        width:40%;
        justify-content: flex-end;
    }
    .home, #f{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .homeColOne, #projectsOne, #projectsTwo{
        width:95.5%;
        margin-right:0%;
        /* background-color: mediumorchid; */
        justify-content: center;
        margin-bottom: 3.5%;
    }
    .tech{
        text-align: center;
        margin-left:0%;
        margin-bottom: 3%;
    }
    .projectHolder{
        flex-direction: column;
        padding-left: 2%;
        margin-left: 4%;
        width:95%;
    }
    .projectsTitleOne{
        text-align: left;
        width:100%;
        margin-bottom: 0%;
    }
    .projectsTitleTwo{
        text-align:left;
        width:100%;
        margin-bottom: 2.5%;
    }
    .projectButton{
        width:95%;
    }
    #omakuva{
        margin: 5px;
    }
    .homeColTwo{
        width:100%;
    }
    .zoomedImage{
        max-width: 60vw;
        max-height: 40vh;
        right: 120vw;
        opacity: 0.7;
    }
    .homeButton{
        margin-left: 12.5%;
    }
    .technologyContainer{
        width:100%;
    }
    #colOne{
        width:20%;
        margin-right: 10px;
    }
    #colTwo{
        width:80%;
    }
    #omakuva{
        float: left;
        width: 22%;
        height: 22%;
    }
    #emailMe{
        display:block;
        width:70%;
        margin-left: 12.5%;
        margin-top: 3%;
        
    }
    .homeText{
        margin-left:0px;
    }
    .formClass{
        flex-direction: row;
        width:122.5%;
        min-width: 100px;
    }
    #sendData{
        left:72.5%;
    }
    .formColOne{
        width: 35%;
        min-width:35%;
    }
    .error{
        font-size: 90%;
        width:65%;
    }
}
@media only screen and (max-width: 868px) and (orientation: landscape)
{
    body{
        height:100%;
        font-size: 60%;
    }
    .navigationBar{
        height: 9.5vh;
        font-size: 3.5vh;
    }
    .navigationBarIcon{
        height: 6vh;
        width:8vh;
    }

}




